.header {
  width: 100%;
  height: 100px;
  background-color: #00052b;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(253, 135, 0);
  margin-left: 50px;
}

.navItems {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 0 0;
  width: 20%;
}

.item {
  color: rgb(241, 241, 241);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.item:hover {
  color: rgb(253, 135, 0);
}
